*.sublime-workspace
*.rbxl.lock
.vscode
.github
node_modules
out
roblox.toml
roblox.yml
aftman.toml
selene.toml
.env
build
sourcemap.json
dist
*.tsbuildinfo
.DS_Store
globalTypes.d.lua
*.tgz
*.vsix
pnpm-lock.yaml
pnpm-workspace.yaml